<section>
    <header>
        <img class="angularImg" [src]="imgPath" alt="Angular2">
        <h1>Construction Part</h1>
    </header>
    <nav>
        <ul>
            <!--<a [routerLink]="['/equipment']"><li>Equipment</li></a>
            <a [routerLink]="['/rent-list']"><li>Rent List</li></a>-->
        </ul>
    </nav>
</section>

<main>
    <header class="searchBox">
        <search></search>
        <!--<search *ngIf="_searchService.isActive"></search>-->
    </header>
    <!--<router-outlet></router-outlet>-->
</main>

<aside>
    <h2 class="cartLabel">Cart</h2>
        <cart></cart>
        <!--<cart [selectedItem]="selectedItem"></cart>-->
</aside>