<main>
  <h1>Hello from Angular App with Webpack</h1>
  <img src="../../public/images/angular.png">

  <input (input)="sendInput($event)" class="normalInput" type="text" name="socketInput" value="{{ inputField }}"/>

  <input (click)="getData()" type="button" name="getData" value="click to get Data">
  <div *ngFor="let data of sampleData">
    {{ data.before || undefined }}
  </div>

  <div *ngFor="let data of downloadedData">
    {{ data.item || 'undefined' }}
  </div>

  <div *ngFor="let data of sampleData">
    {{ data.error || undefined }}
  </div>
</main>
