.ng-valid:not(form), .ng-invalid.ng-dirty:not(form){
  border: 0;
}

.ng-pristine:not(form) {
  border-left: 5px solid $colorGrey02;
}

.ng-valid:not(form) {
  border-left: 5px solid $colorGreen03;
}

.ng-invalid.ng-dirty:not(form) {
  border-left: 5px solid $colorRed03;
}

input{
    border: none;
}

input:focus {
    outline: none;
}

