$colorRed: #d95c5c;
$colorRed02: #e47575;
$colorRed03: #a94442;
$colorBlue01: #1972ba;
$colorBlue02: #1f89d8;
$colorBlue03: #68b0e5;

$colorGrey01: #333333;
$colorGrey02: #8e8e8e;
$colorGrey03: #3e3e3e;
$colorGrey04: #474747;
$colorGrey05: #eeeff2;
$colorGrey06: #EFEFEF;
$colorGrey07: #e4e4e4;
$colorGrey08: #5c6166;

$colorGreen01: #98d295;
$colorGreen02: #defcd5;
$colorGreen03: #42A948;

$colorYellow01: #F6F3D5;

$navWidth: 18.75%;
$mainWidth: 62.50%;
$cartWidth: 18.75%;

$baseSize: 15px;
$textColor01: rgba(0, 0, 0, 0.6);
$textColorWhite: white;
$textColorYellow: #96904D;

$paddingGeneral: .5rem 1.5rem 1.5rem 1.5rem;

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}